

/* .myClass{

    background-image: url("/images/sYQEdK.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
} */

.myClass h1{
    font-size: 50px;
}